<!DOCTYPE html>
<html>
<head>
    <title>Halla g</title>
    <script type="text/javascript" src="js/libs/angular.min.js"></script>
    <script type="text/javascript" src="js/libs/underscore-min.js"></script>
    <script type="text/javascript" src="js/tictactoe.ctrl.js"></script>
</head>
<body ng-app>
    <div ng-controller="TicTacToeCtrl">
        <div ng-repeat="row in board track by $index">
            <div class="cell" ng-repeat="cell in row track by $index" style="margin: 2px; border: 1px solid black; width: 50px; height: 50px; display: inline-block">
                <div ng-switch="cell" style="text-align: center; font-size: 30px; margin-top: 7px">
                    <div ng-switch-when="O">O</div>
                    <div ng-switch-when="X">X</div>
                    <div ng-switch-default ng-click="markCell($parent.$parent.$index, $index)" style="cursor: pointer">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>